<section class="main">
  <div class="description-wrapper">
    <span class="lvl-1">I am a Front End Developer</span>
    <br>
    <span class="lvl-2">
      I hold 3+ years of professional experience in IT industry.
      I have solid understanding of front end development
      I also worked with azure cloud technologies. 
    </span>
    <div class="handles">
      <a href="https://www.linkedin.com/in/spurgeon-li" target="_blank">
        <mat-icon svgIcon="linkedin" matTooltip="My linkedin account"></mat-icon>
      </a>
      <a href="https://github.com/Spurgeon109" target="_blank">
        <mat-icon svgIcon="git" matTooltip="My github account"></mat-icon>
      </a>
      <mat-icon (click)="downloadResume($event)" matTooltip="Download my resume">download</mat-icon>
    </div>
    <div class="lg-btn-wrapper">
      <button class="btn" (click)="scrollToForm()">Let us talk</button>
    </div>
  </div>
</section>
<div class="form-section" id="contact">
  <form #formRef="ngForm" [formGroup]="formGroup">
    <div class="ico">
      <span class="icon">i</span>
    </div>
    <span class="title">Please fill the form</span>
    <mat-form-field appearance="outline">
      <mat-label>Your name</mat-label>
      <input type="text" matInput slot="" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Leave your thoughts</mat-label>
      <textarea cols="30" rows="10" matInput formControlName="content" required></textarea>
    </mat-form-field>
    <button class="submit-btn" type="submit" [disabled]="formRef.form.status !== 'VALID'">
      <a href='mailTo: samspurgeon109@gmail.com?subject='>Open Mail</a>
    </button>
  </form>
</div>